table{
    background:#1a75ff;
    color: #ffffff;
    font-size: 2em;
    width:70%;
    height: 620px;
    text-align: center;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.form-group{
    margin-top: 10px;
    width:100%;
    height: 100%;
    text-align: center;
}

td{
    border: solid 5px;
    font-size: 2em;
}

.btn{
    font-size:1em;
    width: 100%;
    height: 100%;
}

.btn:disabled{
    opacity: 0.9;
}

#A,#B,#C,#D,#E,#F,#G,#H,#I{
    width:200px;
    height: 200px;
}
